@keyframes dot-blink {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.main {
  position: fixed;
  inset: 0px;
  width: 30rem;
  height: 5rem;
  max-width: 100%;
  max-height: 100dvh;
  margin: auto;
}

.main__login {
  background-color: #250f0f;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  animation: fadeIn;
  animation-duration: 2s;
}

.main__login--form {
  display: flex;
  flex-direction: column;
}

.main__login--form label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

.inputField {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

.inputField:focus {
  border-color: #a3a3a3;
  outline: none;
}

.error {
  color: red;
}

.notification {
  color: greenyellow;
}

.dots {
  display: inline-block;
}

.dots::after {
  content: "";
  animation: dot-blink 1.5s step-start infinite;
}
